# -----------------------------
# AIOps RCA Agent local config
# -----------------------------

GREENNODE_CLIENT_ID=
GREENNODE_CLIENT_SECRET=

AIOPS_USE_LLM=false
LLM_BASE_URL=https://maas-llm-aiplatform-hcm.api.vngcloud.vn/v1
LLM_API_KEY=
LLM_MODEL_PROVIDER=minimax
LLM_MODEL=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
